@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&display=swap');

@import "tailwindcss";

/*
  Dominant color: #0d1117
  Secondary color: #161b22
  Accent color: #1e3a8a
  Text color: gray 200
*/

:root {
  font-family: 'Momo Trust Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Consolas';
  src: url('/fonts/Consolas.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-consolas: 'Consolas', sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-left: 1px solid #475569;
}

::-webkit-scrollbar-thumb {
  background-color: #475569; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5B6F86; 
}