# Visual Studio / Build
.vs/
.vscode/
bin/
obj/
out/
Debug/
vs/

# ASP.NET configs
appsettings.json
appsettings.*.json
Properties/launchSettings.json

# Logs
*.log

# User / OS
*.user
*.suo
Thumbs.db
Desktop.ini

# Node (for reactasp.client)
reactasp.client/node_modules/
reactasp.client/.env
